html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

.card.outline {
  background-color: rgba(195, 195, 195, 0.338);
  border: 0.005em dashed #20cedab6;
}

.card {
  margin: 4vh;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95)!important;
}

body {
  background-color: whitesmoke;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: "Merienda One",system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  background: linear-gradient(90deg, rgba(2,0,36,1) 25%, rgba(9,11,121,1) 40%, rgba(0,212,255,1) 100%);
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: repeat(3, 100px)/ repeat(auto-fit, minmax(1fr, 1fr));  
  border-radius: 20px;
  height: 900px;
  grid-template-areas: 
      "h h h"
      "p p p"
      "f f f";
} 

.comp-area,
.player-area {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(134,29,253,1) 13%, rgba(252,176,69,1) 61%);
  margin: 0px 13.7px;
  border-radius: 20px;
}

.comp-area {
  background: rgb(131,58,180);
  background: linear-gradient(279deg, rgba(131,58,180,1) 0%, rgba(134,29,253,1) 13%, rgba(252,176,69,1) 61%);
}

.message {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  display: flex;
  color: white;
  font-size: 65px;
  margin: 15px 15px;
  grid-area: h;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p-cards-left,
.c-cards-left {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 1 / -1;
  font-size: 30px;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 40px;
}

#turn-btn,
#restart-btn {
  margin: 10px 10px;
  width: 150px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5%;
  font-size: 25px;
}

#turn-btn {
  background: linear-gradient(90deg, rgba(0,172,213,1) 17%, rgba(0,212,255,1) 30%, rgba(2,0,36,1) 54%, rgba(9,120,121,1) 84%);
  border: none;
}

#restart-btn {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 19%, rgba(252,176,69,1) 100%);
  border: none;
}

.player-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.comp-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin: 15px 15px;
}

#score-board {
  display: grid;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  border: dotted red .4rem;
  border-radius: 14%;
  padding: 30px 20px;
}


#player-score,
#computer-score {
  text-align: center;
  margin: 10px;
  grid-area: c;
}

footer {
  display: flex;
  color: white;
  margin: 20px 20px;
  font-size: 25px;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
}