html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

.card {
  margin: 3vh;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95)!important;
}

body {
  background-color: whitesmoke;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
  font-weight: bold;
}

.container {
  background-color: lightblue;
  border-radius: 20px;
  display: grid;
  flex-direction: column;
  width: 500px;
} 

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#turn-btn,
#restart-btn {
  margin: 10px 10px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
}

.player-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.comp-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

#score-board {
  border: solid black .2rem;
  padding: 10px;
}